		body {
			font-family: Arial, sans-serif;
			background-color: #f5f5f5;
		}

		h1 {
			font-size: 36px;
			text-align: center;
			margin: 20px 0 50px;
			color: #333;
		}

		h3 {
			font-size: 24px;
			margin-top: 30px;
			color: #333;
		}

		body {
			background: url(https://pic.ziyuan.wang/2023/04/03/a89cf5a3b65b5.jpg) no-repeat center center fixed;
			background-size: cover;
			opacity: 0.9;
		}

		p {
			font-size: 16px;
			line-height: 1.5;
			color: #666;
		}

		aside {
			font-style: italic;
			font-size: 16px;
			color: #999;
			margin-top: 20px;
		}

		.time {
			display: inline-block;
			padding: 0.2em 0.5em;
			/* 调整圆框的大小 */
			border-radius: 10px;
			/* 圆框的圆角，可适当调整 */
			background-color: #ffffff;
			/* 圆框的背景颜色 */
			box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
			/* 圆框的阴影 */
			font-size: 1.2em;
			/* 时间字体大小 */
			font-weight: bold;
			/* 时间字体加粗 */
			color: #000000;
			/* 时间字体颜色 */
			margin: 0
		}

		.container {
			margin: 50px auto 0;
			width: 80%;
			max-width: 800px;
			background-color: white;
			border-radius: 10px;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
			padding: 30px;
		}

		button {
			background-color: #008CBA;
			border: none;
			color: white;
			padding: 10px;
			border-radius: 5px;
			cursor: pointer;
			transition: all 0.3s;
		}

		button:hover {
			background-color: #0077b3;
		}

		a {
			text-decoration: none;
			color: #007bff;
			font-weight: bold;
		}

		a:hover {
			color: #006a8d;
		}

		.overlay {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.5);
			display: flex;
			align-items: center;
			justify-content: center;
			z-index: 9999;
		}

		.modal {
			background-color: #fff;
			padding: 20px;
			border-radius: 5px;
			max-width: 400px;
			text-align: center;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
		}

		.close-button {
			background-color: #ff0000;
			color: #fff;
			border: none;
			border-radius: 5px;
			padding: 10px 20px;
			cursor: pointer;
			font-weight: bold;
			transition: all 0.3s;
		}

		.close-button:hover {
			background-color: #c01a1a;
		}

		.daoru {
			margin-left: 10px;
			background-color: #04b700;
		}

		.daoru:hover {
			background-color: #039500;
		}
		
		.icon-container {
            display: inline-block;
            vertical-align: middle;
            line-height: 1;
        }

        .icon-container img {
            width: 20px;
            height: auto;
            vertical-align: middle;
        }